apiVersion: v1
kind: Service
metadata:
  name: calculator-service
spec:
  type: NodePort
  selector:
    app: sample-python-calculator
  ports:
    - port: 80
      targetPort: 5000
      nodePort: 30007
