name: my-first-workflow

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main

permissions:
  contents: read
  security-events: write
  actions: read
  packages: write

jobs:
  ci-pipeline:
    uses: amitweb2012/Github-Action-Reusable-Workflow/.github/workflows/ci-pipeline.yml@main
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
