name: my-first-workflow

on:
  push:
    branches:
      - main

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello from scheduled job"
  job2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create files
        run: |
          echo "$(pwd)" > artifact.txt
          mkdir artifacts
          ls -la > artifacts/list.txt
          hostname > artifacts/hostname.txt

      - name: Upload file
        uses: actions/upload-artifact@v4
        with:
          name: text-file
          path: artifact.txt

      - name: Upload directory
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-dir
          path: artifacts/
  
  job3:
    runs-on: ubuntu-latest
    needs: job2
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: artifact.txt
      - run: ls -la
