name: my-first-workflow

on:
  schedule:
    - cron: "*/5 * * * *"   # every 5 minutes (UTC)

jobs:
  job1:
    name: Scheduled Job
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: echo "Hello from scheduled job"
