name: my-first-workflow
on:
  push:
    branches:
      - main
jobs:
  job1:
    name: JOB 1
    runs-on: ubuntu-latest
    steps:
      - name: Running sinple work flow
        run: echo "Hello world"
      - name: Check OS version
        run: cat /etc/os-release
  job2:
    name: JOB 2
    runs-on: ubuntu-latest
    steps:
      - name: Checking hostname of runner
        run: hostname
      - name: Running multiple commands
        run: |
          echo "Hello world"
          echo "Welcome to GitHub Actions"
          sleep 10
  job3:
    name: JOB 3
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: Sleep
        run: sleep 10
  job4:
    name: JOB 4
    needs: [job1, job2, job3]
    runs-on: ubuntu-latest
    steps:
      - name: Anothor sleep
        run: sleep 10
    
