name: my-first-workflow
on:
  push:
    branches:
      - main
env:
  ENV_TYPE: dev
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create files
        run: |
          echo "$(pwd)" > artifact.txt
          mkdir artifacts
          ls -la > artifacts/list.txt
          hostname > artifacts/hostname.txt

      - name: Upload file
        uses: actions/upload-artifact@v4
        with:
          name: my-text-artifact
          path: artifact.txt

      - name: Upload directory
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-dir
          path: artifacts/
  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: artifacts-dir
      - run: ls -la

  job3:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - name: create custom directry
        run : |
          mkdir -p single_file
          mkdir -p download_directory
      - uses: actions/download-artifact@v4
        with:
          name: artifacts-dir
          path: download_directory
      - run: ls -ltr download_directory
      - name: show enviroment variable and github action secrect
        run: |
          echo "[INFO] Runs on enviroment $ENV_TYPE"
          echo "[INFO] Github action repository variable ${{secrets.DOCKERHUB_USERNAME}}
