name: my-first-workflow
on: 
  push:
    branches:
      - main
jobs:
  my_job:
    name: deploy to dev
    runs-on: ubuntu-latest
  steps:
    - name: Running sinple work flow
    run : echo "Hello world"
