name: my-first-workflow
on:
  push:
    branches:
      - main
      - dev
  pull_request: 
    branches:
      - main
jobs:
  unit-test:
    name: Running Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6.0.2
      - name: Setup python
        uses: actions/setup-python@v6.2.0
        with:
          python: '3.10'
      - name: Install Dependencies
        run: |
         python -m pip install --upgrade pip
         pip install -r requirement.txt
          
      
  
