name: my-first-workflow

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"
  push:
    branches:
      - main

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello from scheduled job"

  job2:
    runs-on: ubuntu-latest
    steps:
      - run:
          pwd
          hostname
  job3:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - run:
          echo "Hello Word"
          echo "New"
  job4:
    runs-on: ubuntu-latest
    needs: [job1, job2, job3]
    steps:
      - run:
          echo "job 4"
      
